body {
  background-color: #EBF1EF;
}

.navbar {
  background-color: #B9D0CA;
}

.card {
  width: 18rem;
  margin-left: 4.166665%;
  margin-bottom: 16.666666%;
}

main {
  padding-left: 16.666666%;
}
